<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Flask 웹프로그래밍</title>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    	<style>
            body { padding:50px; }
        </style>
    </head>
    <body>
        <h1>
            워드클라우드
        </h1>

        <p>
            <form name = "fm" methon = "post" action="/">
                <div class = "form-group">
                    <label for="comment">뉴스 입력</label>
                    <textarea class = "form-control" rows = "5" name = "content"></textarea>
                </div>
                <div class>
                    <input type="submit" class="btn btn-primary btn block btn-large">
                </div>
                <p>
                    {{content}}
                </p>
        	</form>
        </p>
    	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
 -->
<!DOCTYPE html> <!-- 문서 타입 -->
<html>
    <head> <!-- 홈페이지 정보 -->
        <title> Falsk 웹 프로그래밍</title>
        <meta charset="utf-8"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <style>
            body {padding:50px; }
        </style>
    </head>
    <body>
        <h1> 워드 클라우드 </h1>
        <p>
        	<form name="fm", method="post", action='/'>
                <div class="form-group">
                    <label for="comment"> 뉴스 입력</label>
                    <textarea class="form-control", rows="5", name="content"> {{content}} </textarea>
                </div>
                <div ckass="form-group">
                    <input type="submit" class="btn btn-primary btn-block btn-lg">
                </div>
                <p>
                    <img src='./static/wordcloud.png?v={{time}}'> <!--  version = time (google cashing 해결)--> 
                </p>
        	</form>
        </p>
    	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>



